.fc-style
  .el-main
    padding 0
  .el-dialog__header
    border-bottom 1px solid #f0f0f0
  .el-dialog__body
    padding 15px 20px
  .el-dialog__footer
    border-top 1px solid #F2F6FC
    padding 10px 15px
  .config-content
    .el-radio-group
      margin-top 10px
      vertical-align super
    .el-radio
      margin-bottom 10px
  .el-rate
    margin-top 6px
  .el-checkbox
    line-height 32px